/* BirthdayWisher.css */

body {
    font-family: 'Arial', sans-serif; /* Change the font family */
  }
  
  .birthday-wisher-container {
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .birthday-card-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Add a transition effect */
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cards-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .birthday-card {
    background-color: #e3f2fd;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out; /* Add a transition effect */
    cursor: pointer;
    background-size: cover;
  }
  
  .birthday-card:hover {
    transform: scale(1.05); /* Add a slight scale effect on hover */
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Georgia', serif; /* Change the font family */
  }
  
  .card-message {
    color: #333;
    font-family: 'Georgia', serif; /* Change the font family */
  }
  